PRICE_1=
PRICE_3=
PRICE_6=
PRICE_12=
STARS_PRICE_1=
STARS_PRICE_3=
STARS_PRICE_6=
STARS_PRICE_12=

TELEGRAM_TOKEN=token

REFERRAL_DAYS=7

MINI_APP_URL=

#Dont change if you dont know what you are doing
DATABASE_URL=postgres://postgres:postgres@db:5432/postgres?sslmode=disable

#Dont change if you dont know what you are doing
POSTGRES_USER=postgres
#Dont change if you dont know what you are doing
POSTGRES_PASSWORD=postgres
#Dont change if you dont know what you are doing
POSTGRES_DB=postgres


REMNAWAVE_URL=https://example.com
REMNAWAVE_MODE=remote
REMNAWAVE_TOKEN=token

CRYPTO_PAY_ENABLED=true
CRYPTO_PAY_TOKEN=token
CRYPTO_PAY_URL=https://pay.crypt.bot

YOOKASA_ENABLED=true
YOOKASA_SECRET_KEY=key
YOOKASA_SHOP_ID=id
YOOKASA_URL=https://api.yookassa.ru/v3
YOOKASA_EMAIL=exmaple@mail.com

TRAFFIC_LIMIT=100

TELEGRAM_STARS_ENABLED=true


REQUIRE_PAID_PURCHASE_FOR_STARS=false

TRIAL_TRAFFIC_LIMIT=20
TRIAL_DAYS=2
TRIAL_INTERNAL_SQUADS=
TRIAL_EXTERNAL_SQUAD_UUID=

ADMIN_TELEGRAM_ID=123123123


BLOCKED_TELEGRAM_IDS=


WHITELISTED_TELEGRAM_IDS=

SERVER_STATUS_URL="https://example.com/status"
SUPPORT_URL="https://example.com/support"
FEEDBACK_URL="https://example.com/feedback"
CHANNEL_URL="https://t.me/examplechannel"
TOS_URL="https://t.me/examplechannel"


SQUAD_UUIDS=


EXTERNAL_SQUAD_UUID=

DAYS_IN_MONTH=30

REMNAWAVE_TAG=TEST_PUPA


WEBHOOK_ENABLED=false

WEBHOOK_URL=

WEBHOOK_SECRET_TOKEN=


TRIAL_REMNAWAVE_TAG=


REMNAWAVE_HEADERS=


TARIFF_START_ENABLED=false
TARIFF_START_DEVICES=3
TARIFF_START_PRICE_1=99
TARIFF_START_PRICE_3=249
TARIFF_START_PRICE_6=449
TARIFF_START_PRICE_12=799

TARIFF_START_STARS_PRICE_1=99
TARIFF_START_STARS_PRICE_3=249
TARIFF_START_STARS_PRICE_6=449
TARIFF_START_STARS_PRICE_12=799


TARIFF_PRO_ENABLED=false
TARIFF_PRO_DEVICES=6
TARIFF_PRO_PRICE_1=149
TARIFF_PRO_PRICE_3=399
TARIFF_PRO_PRICE_6=699
TARIFF_PRO_PRICE_12=1199

TARIFF_PRO_STARS_PRICE_1=149
TARIFF_PRO_STARS_PRICE_3=399
TARIFF_PRO_STARS_PRICE_6=699
TARIFF_PRO_STARS_PRICE_12=1199


TRIAL_INACTIVE_NOTIFICATION_ENABLED=false


WINBACK_ENABLED=false
WINBACK_PRICE=100
WINBACK_DEVICES=1
WINBACK_MONTHS=1
WINBACK_VALID_HOURS=48 
WINBACK_RECURRING_ENABLED=false  


REMNAWAVE_WEBHOOK_SECRET=

REMNAWAVE_WEBHOOK_PATH=
